div.current input, div.current textarea, div.current select {
clear:both !important;
float:inherit !important;
margin:0 !important;
}
div.current label {
clear:both !important;
display:inline !important;
float:none !important;
margin-top:0 !important;
min-width:0 !important;
}
fieldset input, fieldset textarea, fieldset select, fieldset img, fieldset button {
float:none !important;
margin:5px 5px 5px 0 !important;
width:auto !important;
}
fieldset label {
clear:left !important;
display:inline !important;
float:none !important;
margin:5px 0 !important;
}
div.current input, div.current textarea, div.current select {
    clear: none;
    float: none;
    margin: 0 0 0 0;
}
div.current label, div.current span.faux-label {
    clear: none;
    display: none;
    float: none;
    margin-top: 0px;
    min-width: 0px;
}